secret:
  aws_access_key_id: ""
  aws_secret_access_key: ""
  aws_default_region: ""
  s3_bucket: ""
  rf_app_admin: ""
  rf_app_admin_passwd: ""
  storage_type: ""
  rf_app_host: "" # This field is used to provide the rapidfort service FQDN (if FQDN is not available use IP ADDRESS) to internal service

global:
  rf_app_host: "" # This field is used to update the host name in the ingress.

sc:
  enabled: false

ingress:
  enabled: true

aggregator:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/aggregator-exe"
    tag: "1.1.40-rfhardened"

backend:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/backend-exe"
    tag: "1.1.40-rfhardened"

frontrow:
  enabled: true
  authUrl: ""
  image:
    repository: "public.ecr.aws/rapidfort/frontrow"
    tag: "1.1.40-rfhardened"

iso-master:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/iso-master-exe"
    tag: "1.1.40-rfhardened"

rf-scan:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/rf-scan-exe"
    tag: "1.1.40-rfhardened"

rfapi:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/rfapi-exe"
    tag: "1.1.40-rfhardened"

rfpubsub:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/rfpubsub-exe"
    tag: "1.1.40-rfhardened"

runner:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/runner"
    tag: "1.1.40-rfhardened"

vulns-db:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/vulns-db"
    tag: "1.1.40-rfhardened"

fileupload:
  enabled: true
  image:
    repository: "public.ecr.aws/rapidfort/fileupload"
    tag: "1.1.40-rfhardened"  

keycloak:
  enabled: true

mysql:
  enabled: true

redis:
  enabled: true

lock-redis:
  enabled: true

files-redis:
  enabled: true

logger:
  enabled: false
